
@{
    ViewBag.Title = "Newpassword";
}

<h2>Reset Password</h2>
@using(Html.BeginForm("Newpassword","Admin",FormMethod.Post))
{
<table>
    <tr>
        <td style="padding:20px 20px 20px 20px;">
            @Html.Label("New Password")
        </td>
        <td style="padding:20px 20px 20px 20px">
            @Html.TextBox("Newpass")
          

        </td>
        <td><span class="field-validation-valid error" data-valmsg-for="Newpass" data-valmsg-replace="true"></span></td>
    </tr>
    <tr>
        <td>
            @Html.Label("Confirm Password")
        </td>
        <td>
            @Html.TextBox("Conpass")
           
        </td>
        <td><span class="field-validation-valid error" data-valmsg-for="Conpass" data-valmsg-replace="true"></span></td>
    </tr>
</table>
<input type="submit" class="btn btn-success" value="Submit"/>
}
