
@{ ViewBag.Title = "Cancel"; }
<div class="jumbotron" style="background-color:aqua;">
    <h2>Rs.@ViewBag.refund /- Added to your bank</h2>
</div>
<h2>To Book more tickets @Html.ActionLink("Click", "FindTrain", "TrainUser")</h2>

