
@{
    ViewBag.Title = "MyBookings";
}

<h2>MyBookings</h2>
<h2>Enter your User Id to view your bookings</h2>
@using (Html.BeginForm("MyBookings", "User", FormMethod.Post))
{
<div style="padding:20px">
    <table>
        <tr style="padding:20px"><td>@Html.Label("User Id")</td></tr>
        <tr style="padding:20px"><td> @Html.TextBox("userid")</td></tr>
        
    </table>
</div>
<div style="padding:20px">
    <button type="submit" class="btn btn-success">Submit</button>
</div>

}

