
@{
    ViewBag.Title = "Index";
}

<h1><b>Railway Reservation System</b></h1>
<div>
    @Html.ActionLink("User","UserPage","User")
</div>
<div>
    @Html.ActionLink("Admin", "Adminlogin", "Admin")
</div>

