<div class="jumbotron" style="background-color:pink;">
    <h2>No Trains Available For the Current Schedule.</h2>
    <h3>To Find Trains on different day @Html.ActionLink("click here","FindTrain","TrainUser")</h3>
</div>