
@{
    ViewBag.Title = "PaySuccess";
}

<div class="jumbotron" style="background-color:green;">
    <center>
        <h2 style="color:white"> Your Payment is Successfull!!</h2>
    </center>
</div>


<h2>Book more tickets @Html.ActionLink("click here","FindTrain","TrainUser")</h2>
<h2>View your bookings details @Html.ActionLink("click here","MyBookings","User")</h2>
